@import '@maelstrom-cms/toolkit/css/maelstrom.css';
@import 'aos/dist/aos.css';

.ant-input-affix-wrapper .ant-input {
    min-height: auto;
}

.ant-input-affix-wrapper .ant-input-prefix {
    left: 9px;
}

.ant-pagination-item-link .anticon {
	display: block;
}

code {
    margin: 0 1px;
    padding: .2em .4em;
    font-size: .9em;
    background: #f2f4f5;
    border: 1px solid #eee;
    border-radius: 3px;
}
